---
layout: page
title: Arhiva
subtitle: Pregled prošlih konferencija
identifier: "archive"
lang: hr
icon: newspaper
permalink: /arhiva/
navigation: visible
---

<ul class="meetups-list">
  {% assign meetups = site.categories.meetup | where:"lang", page.lang %}
  {% assign curDate = site.time | date: '%s' %}
  {% for post in meetups %}
    {% assign postStartDate = post.date | date: '%s' %}
    {% if curDate > postStartDate %}
      <li>
        <a class="meetup-item" href="{{ post.url | prepend: site.baseurl }}">
          <div class="meetup-item-date" style="background:{{ post.background }}; color:{{ post.color }}">
            <span>{{ post.date | date: "%b" }}</span>
            <strong>{{ post.date | date: "%-d" }}</strong>
            <span>{{ post.date | date: "%Y" }}</span>
          </div>
          <div class="meetup-item-info">
            <h3>{{ post.title }}</h3>
            <p>{{ post.date | date: "%H:%M" }}, {{ post.address }}</p>
          </div>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
