---
layout: default
background: "url(http://odd.codeforcroatia.org/2016/img/photos/20160306_codeacross_and_opendataday_d_marija_havaic_13.jpg) #03A9F4"
---

<!-- stock background image: http://i.imgur.com/oPGTBiS.jpg -->

<header>
  <div class="c">
    <h1>Open Data Day Hrvatska</h1>
    <p class="lead">Vikend građanskih inovacija.</p>
  </div>
</header>

<!-- END COVER -->
</div>

<section class="home">
  <div class="c">

    {% assign Q = page.date | date: "%-m" %}
    {% case Q %}
      {% when '1' %}Sij
      {% when '2' %}Velj
      {% when '3' %}Ožu
      {% when '4' %}Tra
      {% when '5' %}Svi
      {% when '6' %}Lip
      {% when '7' %}Srp
      {% when '8' %}Kol
      {% when '9' %}Ruj
      {% when '10' %}Lis
      {% when '11' %}Stu
      {% when '12' %}Pro
    {% endcase %}

      <h2>Sljedeći {{ site.title }}</h2>
      <div class="meetups">
        {% assign curDate = site.time | date: '%s' %}
          {% for post in site.categories.meetup %}
            {% assign postStartDate = post.date | date: '%s' %}
            {% if postStartDate > curDate %}
              <a class="post-link white-box" href="{{ post.url | prepend: site.baseurl }}">
                <div class="preview" style="background:{{ post.background }}">
                  <div class="date">
                      <small>{{ post.date | date: "%b" }}</small>
                      {{ post.date | date: "%-d" }}
                  </div>
                </div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.date | date: "%H:%M" }}, {{ post.address }}</p>
              </a>
              <br>
            {% endif %}
          {% endfor %}
        </div>
        <br>

        <h2>Prošli {{ site.title }}</h2>
        <div class="meetups">
          {% assign curDate = site.time | date: '%s' %}
            {% for post in site.categories.meetup limit:3 %}
              {% assign postStartDate = post.date | date: '%s' %}
              {% if curDate > postStartDate %}
              <a class="post-link white-box" href="{{ post.url | prepend: site.baseurl }}">
                <div class="preview" style="background:{{ post.background }}">
                  <div class="date">
                      <small>{{ post.date | date: "%b" }}</small>
                      {{ post.date | date: "%-d" }}
                  </div>
                </div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.date | date: "%H:%M" }}, {{ post.address }}</p>
              </a>
              <br>
              {% endif %}
            {% endfor %}
          </div>
  
        <h2>Zadnji postovi</h2>
        <div class="blogposts">
            {% for post in site.categories.blog limit:4 %}
              <a class="post-link white-box" href="{{ post.url | prepend: site.baseurl }}">
                <div class="preview" style="background:{{ post.background }}">
                  <div class="date">
                      {% capture i18n_date %}
                      {{ post.date | date: "%-d" }}
                      {% assign m = post.date | date: "%-m" | minus: 1 %}
                      {{ site.data.hr.months[m] }}
                      {{ post.date | date: "%Y" }}
                      {{ post.date | date: "%m" }}
                      {% endcapture %}
                      <small>{{ post.date | date: "%B" }}</small>
                      {{ post.date | date: "%m" }}
                      {{ post.date | date: "%-m" }}
                      {{ post.date | date: "%-d" }}
                  </div>
                </div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.subtitle }}</p>
              </a>
              <br>
            {% endfor %}
          </div>

  </div>
</section>

