---
layout: default
background: "url(http://odd.codeforcroatia.org/2016/img/photos/20160306_codeacross_and_opendataday_d_marija_havaic_13.jpg) #03A9F4"
---

<!-- stock background image: http://i.imgur.com/oPGTBiS.jpg -->

<header>
  <div class="c">
    <h1>Open Data Day Hrvatska</h1>
    <p class="lead">Vikend građanskih inovacija.</p>
  </div>
</header>

<!-- END COVER -->
</div>

<section class="home">
  <div class="c">

      <h2>Sljedeći {{ site.title }}</h2>
      <div class="meetups">
        {% assign curDate = site.time | date: '%s' %}
          {% for post in site.categories.meetup %}
            {% assign postStartDate = post.date | date: '%s' %}
            {% if postStartDate > curDate %}
              <a class="post-link white-box" href="{{ post.url | prepend: site.baseurl }}">
                <div class="preview" style="background:{{ post.background }}">
                  <div class="date">
                      <small>{{ post.date | date: "%b" }}</small>
                      {{ post.date | date: "%-d" }}
                  </div>
                </div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.date | date: "%H:%M" }}, {{ post.address }}</p>
              </a>
              <br>
            {% endif %}
          {% endfor %}
        </div>
        <br>

        <h2>Prošli {{ site.title }}</h2>
        <div class="meetups">
          {% assign curDate = site.time | date: '%s' %}
            {% for post in site.categories.meetup limit:3 %}
              {% assign postStartDate = post.date | date: '%s' %}
              {% if curDate > postStartDate %}
              <a class="post-link white-box" href="{{ post.url | prepend: site.baseurl }}">
                <div class="preview" style="background:{{ post.background }}">
                  <div class="date">
                      <small>{{ post.date | date: "%b" }}</small>
                      {{ post.date | date: "%-d" }}
                  </div>
                </div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.date | date: "%H:%M" }}, {{ post.address }}</p>
              </a>
              <br>
              {% endif %}
            {% endfor %}
          </div>
  
        <h2>Zadnji postovi</h2>
        <div class="blogposts">
            {% for post in site.categories.blog limit:4 %}
              <a class="post-link white-box" href="{{ post.url | prepend: site.baseurl }}">
                <div class="preview" style="background:{{ post.background }}">
                  <div class="date">
                      <!-- <small>{{ post.date | date: "%B" }}</small> -->
                      <small>{{ post.date | date: "%m" }}</small>
                      <small>{{ post.date | date: "%-m" }}</small>
                      {{ post.date | date: "%-d" }}
                  </div>
                </div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.subtitle }}</p>
              </a>
              <br>
            {% endfor %}
          </div>

  </div>
</section>

