{% if site.layout == 'meetup' %}
  {% include footer-event.html %}
{% endif %}

{% if site.notifications contains 'visible' %}
<section id="notifications" class="fullbox fullbox-blue rss-subscribe">
  <div class="container">
    <h3>{{ site.data.translations['signUpAnnouncements'][page.lang] }}</h3>
    <p>
      {{ site.data.translations['signUpVia'][page.lang] }}
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="icon-broadcast"></i> RSS</a>
      {% if site.email %} |
      <a href="{{ site.email }}" target="_blank"><i class="icon-envelope"></i> E-mail</a>
      {% endif %}{% if site.gcal %} |
      <a href="{{ site.gcal }}" target="_blank"><i class="icon-notebook"></i> Google Calendar</a>
      {% endif %}{% if site.sms %} |
      <a href="{{ site.sms }}" target="_blank"><i class="icon-chat"></i> SMS</a>
      {% endif %}{% if site.andrid %} |
      <a href="{{ site.android }}" target="_blank"><i class="icon-iphone"></i> Android</a>
      {% endif %}{% if site.ifttt %} |
      <a href="{{ site.ifttt }}" target="_blank"><i class="icon-bulb"></i> Više na IFTTT</a>
      {% endif %}
    </p>
  </div>
</section>
{% endif %}

<footer class="site-footer">

  <div class="container">
    <div class="row">
      <!-- <div class="col-33">
        <h3>{{ site.data.translations['title'][page.lang] }}</h3>
        <p>{{ site.data.translations['description'][page.lang] }}</p>
        <p>{{ site.data.translations['invitation'][page.lang] }}</p>
        <p>
          <a href="{{ site.data.translations['learnMorePath'][page.lang] }}"><i class="icon-plus"></i> {{ site.data.translations['learnMore'][page.lang] }}</a>
          <br>
          <a href="{{ site.data.translations['learnMorePath'][page.lang] }}#code-of-conduct"><i class="icon-grid"></i> {{ site.data.translations['codeOfConduct'][page.lang] }}</a>
         </p>
      </div> -->
      <div class="col-md-4">
        <h3>{{ site.data.translations['otherFooter'][page.lang] }}</h3>
        <nav>
          <ul>
            {% if site.meetup1 %}
              <li>
                <a href="{{ site.meetup1-url }}" target="_blank">{{ site.meetup1 }}</a>
              </li>
            {% endif %}
            {% if site.meetup2 %}
              <li>
                <a href="{{ site.meetup2-url }}" target="_blank">{{ site.meetup2 }}</a>
              </li>
            {% endif %}
            {% if site.meetup3 %}
              <li>
                <a href="{{ site.meetup3-url }}" target="_blank">{{ site.meetup3 }}</a>
              </li>
            {% endif %}
            {% if site.meetup4 %}
              <li>
                <a href="{{ site.meetup4-url }}" target="_blank">{{ site.meetup4 }}</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
      <div class="col-md-4">
        <h3>{{ site.data.translations['contactUs'][page.lang] }}</h3>
        <nav>
          <ul>
            <li>
              <a href="{{ site.contact-us-url }}" target="_blank"><i class="icon-planet"></i> {{ site.maintainers }}</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-4">
        <h3>@{{ site.twitter }}</h3>
        <a href="https://twitter.com/{{ site.twitter }}?ref_src={{ site.twitter-ref-src }}" class="twitter-follow-button" data-size="large" data-show-count="false">{{ site.data.translations['follow'][page.lang] }} @{{ site.twitter }}</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2F{{ site.facebook }}%2F&width=300&layout=button&action=recommend&size=large&show_faces=false&share=true&height=65&appId" width="100%" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>

</footer>

<div class="footnote">
  <div class="container">
    <p>
      <a href="{{ site.maintainers-url }}" target="_blank">&lt/&gt {{ site.maintainers }}</a> {{ site.data.translations['maintainesWith'][page.lang] }} <img src="{{ "/images/heart.svg" | prepend: site.baseurl }}" alt="heart"> {{ site.data.translations['hostedOn'][page.lang] }} <a href="http://github.com/{{ site.github }}/" target="_blank"><img src="{{ "/images/github-logo.svg" | prepend: site.baseurl }}" alt="heart"> GitHub Pages</a>
    </p>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{ site.google-maps-api-key }}&v=3.exp&sensor=true&region=HR"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/scripts/site.js"></script>
