<span id="top"></span>
<div class="cover" style="background:{{ page.background }}">
  
  <nav class="site-header" role="navigation">
    <div class="c">
      <a href="/" class="logo">
        <i class="icon-{{ site.icon }}"></i>
        <div>
          {{ site.title }}
          <small>{{ site.location }}</small>
        </div>
      </a>
      <a href="#" onclick="$('nav').toggleClass('expanded')" class="menu-button visible-mobile right">
        <i class="icon-more"></i>
      </a>
      {% for page in site.pages %} {% if page.navigation contains 'visible' %}
        <a class="page-link" onclick="$('nav').toggleClass('expanded')" href="{{ page.url | prepend: site.baseurl }}">
          <i class="icon-{{ page.icon }}"></i>
          <div>
            {{ page.title }}
            <small>{{ page.caption }}</small>
          </div>
        </a>
      {% endif %} {% endfor %}

        {% assign posts = site.posts | where:"identifier", page.identifier | sort: 'lang' %}
        {% for post in posts %}
        {% if post.lang != page.lang and page.identifier != nil %}
        <a title="{{ site.data.translations['viewIn'][post.lang] }} {{ site.data.languages[post.lang].label }}" class="{{post.lang}}" href="{{ post.url | prepend: site.baseurl }}">
        <i class="icon-translate"></i>
        <div>
          {{ site.data.translations['viewIn'][post.lang] }}
          <small>{{ site.data.languages[post.lang].label }}</small>
        </div>
      </a>
        {% endif %}
        {% endfor %}

        {% assign contents = site.pages | where:"identifier", page.identifier | sort: 'lang' %}
        {% for content in contents %}
        {% if content.lang != page.lang and page.identifier != nil %}
        <a title="{{ site.data.translations['viewIn'][content.lang] }} {{ site.data.languages[content.lang].label }}" class="{{content.lang}}" href="{{ content.url | prepend: site.baseurl }}">
        <i class="icon-translate"></i>
        <div>
          {{ site.data.translations['viewIn'][content.lang] }}
          <small>{{ site.data.languages[content.lang].label }}</small>
        </div>
      </a>
        {% endif %}
        {% endfor %}

    </div>
  </nav>

  <!-- COVER PHOTO CONTINUES -->