{% if page.layout != 'default' %}
    <footer class="lang-options">
        <center>
        {% if page.identifier %}
        <em>{{ site.data.translations['differentLanguage'][page.lang] }}:</em>
        {% endif %}

        {% assign posts = site.posts | where:"identifier", page.identifier | sort: 'lang' %}
        <a title="{{ site.data.translations['viewIn'][page.lang] }} {{ site.data.languages[page.lang].label }}" class="{{page.lang}}" href="{{ page.url | prepend: site.baseurl }}">{{ site.data.languages[page.lang].icon }} {{ site.data.languages[page.lang].label }}</a>
        {% endfor %}

        {% assign pages = site.pages | where:"identifier", page.identifier | sort: 'lang' %}
        <a title="{{ site.data.translations['viewIn'][page.lang] }} {{ site.data.languages[page.lang].label }}" class="{{page.lang}}" href="{{ page.url | prepend: site.baseurl }}">{{ site.data.languages[page.lang].icon }} {{ site.data.languages[page.lang].label }}</a>
        {% endfor %}
        </center>
{% endif %}