{% if page.layout != 'default' and page.lang != nil %}
    <section class="languageSelect">
        <center>
        {% if page.identifier %}
        <p>{{ site.data.translations['differentLanguage'][page.lang] }}:</p>
        {% endif %}

        {% assign posts = site.posts | where:"identifier", page.identifier | sort: 'lang' %}
        {% for post in posts %}
        {% if post.lang != page.lang and page.identifier != nil %}
        <a title="{{ site.data.translations['viewIn'][post.lang] }} {{ site.data.languages[post.lang].label }}" class="dotted-link" href="{{ post.url | prepend: site.baseurl }}">{{ site.data.languages[post.lang].icon }} {{ site.data.languages[post.lang].label }}</a><br>
        {% endif %}
        {% endfor %}

        {% assign contents = site.pages | where:"identifier", page.identifier | sort: 'lang' %}
        {% for content in contents %}
        {% if content.lang != page.lang and page.identifier != nil %}
        <a title="{{ site.data.translations['viewIn'][content.lang] }} {{ site.data.languages[content.lang].label }}" class="dotted-link" href="{{ content.url | prepend: site.baseurl }}">{{ site.data.languages[content.lang].icon }} {{ site.data.languages[content.lang].label }}</a><br>
        {% endif %}
        {% endfor %}
        </center>
    </footer>
{% endif %}