---
layout: default
---

<div class="full-page-cover">
  <div class="container">
    <div class="date">
      <small>{{ page.date | date: "%b" }}</small>
      {{ page.date | date: "%-d" }},
      <small>{{ page.date | date: "%Y" }}.</small>
    </div>
    <h2 class="full-page-title">{{ page.title }}</h2>
    <p class="full-page-subtitle">{{ page.date | date: "%H:%M" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.address %} • {{ page.address }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </div>
</div>

<section class="post pt-5 pb-5">
  <div class="container">
    {% assign curDate = site.time | date: '%s' %}
    {% assign postStartDate = post.date | date: '%s' %}

    <div id="details">
      <p class="lead">{% if page.host %} Domaćin: {{ page.host }}{% endif %} {% if page.link %} • <a href="{{ page.link }}" target="_blank"><i class="icon-board"></i> RSVP</a>{% endif %} {% if page.address %} • <a href="https://maps.google.com/?daddr={{ page.address }}" target="_blank"><i class="icon-binocular"></i> Navigacija</a>{% endif %}</p>
    </div>

    <article class="post-content">
      {{ content }}
    </article>
  </div>
</section>
