.site-footer {
  padding: 4em 0;
  h3 {
    font-size: 2em;
    margin: 0 0 .75em;
  }
  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin: 0 0 .25em;
    }
    a {
      color: $black;
      display: inline-block;
    }
  }
  @include media-breakpoint-down(lg) {
    h3 {
      font-size: 1.875em;
    }
  }
  @include media-breakpoint-down(md) {
    h3 {
      font-size: 1.5em;
    }
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
    nav {
      margin: 0 0 3em;
    }
  }
}

.footnote {
  background: $gray-800;
  color: $white;
  padding: 1em 0;
  line-height: 2;
  p {
    margin: 0;
  }
  a {
    color: inherit;
    display: inline-block;
    border-bottom: 1px solid currentColor;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    display: inline-block;
    vertical-align: middle;
  }
  @include media-breakpoint-down(xs) {
    p {
      font-size: .875em;
    }
  }
}
